{% extends 'base.html.twig' %}

{% block title %}TPOTDR | Home{% endblock %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row d-flex align-items-baseline">
                <div class="col-2">
                    <img class="img-fluid" src="{{ asset('img/logos/Dabloon.jpg') }}" alt="dabloon image">
                </div>
                <div class="col-8">
                    <div class="title-text text-gold fs-1 fm-courier">
                        {{ bannerTitle }}
                    </div>
                </div>
                <div class="col-2">
                    <img class="img-fluid" src="{{ asset('img/logos/Dabloon.jpg') }}" alt="dabloon image">
                </div>
            </div>
            <div class="my-5">&nbsp;</div>
            <div class="my-3">&nbsp;</div>
            {{ form(form) }}
            <div class="my-5">&nbsp;</div>
            <a href="{{ path('app_profile') }}"><button class="bg-lightgreen rounded-3 fs-2 border border-black border-3">Return</button></a>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
